@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    border: 0px;
    max-height: 100vh;
    position: relative;
    max-width: 2111px;
}   
header{
    background-color: #000000;
}
.imagens1{
    display: flex;
    height: 15px;
    width: 100px;
    object-fit: contain;
    opacity: 0.8;
    float: left;
} 
ul{
    list-style: none;
}
.navegacao ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 15px;
    padding: 5px;
    margin-top: 10px;
}
li{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}
footer {
      color: #fff;
      width: 100%;
      height: 50px;
      background: #000000;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
    }
.box{
    background-color: rgb(from rgba(55, 55, 55, 0.61) r g b);
    width: 800px;
    height: 400px;
    padding: 20px;
    border: 1px solid #000000;
    margin: 20px;
    border-radius: 5px;
}
.box2{
    margin-top: 8px;
    background-color: rgb(from rgba(55, 55, 55, 0.61) r g b);
    width: 800px;
    height: 400px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 20px;
}
.imagemPrincipal img{
    width: 590px;
    height: 750px;
    position: absolute;
    left: 1200px;
    top:125px;
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
}
a{
    text-decoration: none;
    height: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    background-color: rgba(71, 71, 71, 0.856);
    border-radius: 4px;
    transition: color 0.5s ease, text-shadow 0.5s ease;
}
a:hover{
    color: rgb(94, 94, 94); /* Muda para laranja */
    text-shadow: 0px 0px 5px rgba(94, 94, 94); /* Adiciona brilho */
}
.paragrafo{
    font-size: 18px;
    font-family: "Oswald", sans-serif;
}   
.titulo{
    font-size: 29px;
}
input{
    position: relative;
    left: 1500px;
    top: -30px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
}